.Container {
    max-width: 400px;
    margin: auto;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
  }
  
  .Label {
    margin-bottom: 10px;
  }
  
  .Input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .Button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: #45a049;
  }